// I want this to look good on small copies 
// I want this to look good on tablets, phones

@media (max-width: 1000px) {

    /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
    footer {
        .footerFlexContainer {
            flex-direction: column;
            align-items: center;
            margin-bottom: 100px;

            .logo {
                margin-bottom: 30px;
            }
        }

        .footerNav {
            width: 80%;

            nav {
                ul {
                    width: auto;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    /* all of our styles for TABLET devices will go within this breakpoint */
}

@media (max-width: 500px) {

    /* all of our styles for MOBILE devices will go within this breakpoint */
    .slideOutNav {
        width: 100%;

        .mainMenu {
            a {
                font-weight: bold;
                font-size: 1.2rem;
            }
        }
    }

    footer {
        .footerFlexContainer {
            margin-bottom: 60px;
        }

        .footerNav {
            nav {
                flex-direction: column;
                align-items: center;
                text-align: center;

                ul {
                    margin-bottom: 24px;
                    width: 100%;
                }
            }
        }
    }
}